USE [master]
GO
/****** Object:  Database [SendGrid]    Script Date: 20-03-2018 02:26:01 ******/
CREATE DATABASE [SendGrid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SendGrid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SendGrid.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SendGrid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SendGrid_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SendGrid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SendGrid]
GO
/****** Object:  Table [dbo].[EmailDetail]    Script Date: 20-03-2018 02:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmailDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NULL,
	[TimeStamp] [varchar](50) NULL,
	[@event] [varchar](50) NULL,
	[response] [varchar](max) NULL,
	[category] [varchar](50) NULL,
	[Reason] [varchar](500) NULL,
	[Status] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[URL] [varchar](200) NULL,
	[IP] [varchar](200) NULL,
	[smtp_id] [varchar](100) NULL,
 CONSTRAINT [PK_EmailDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
